<h1>Contacto</h1>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well well-sm">
      <div class="row">
        <div class="col-sm-6 col-md-8">
          <h4>
            Datos del actor
          </h4>
          <p>
            Nombre {{ VM.Elemento.firstName }}
            <br />
            Apellidos {{ VM.Elemento.lastName }}
            <br />
          </p>
          <h6>Peliculas: </h6>
          <div class="btn-group">

            <button class="btn btn-success" routerLink="../edit">
              <i class="fas fa-pen">Editar</i>
            </button>
            <button
              class="btn btn-secondary"
              (click)="VM.cancel()"
            >Volver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
