@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

body {
  background-color: white;
  margin: 0;
  font-family: roboto;
  background-image: url(fondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  font-size: 17px;
  color: white;
}

.mapa {
  position: fixed;
  bottom: 0;
  left: 320px;
  margin-bottom: 1%;
}

.pie {
  background: blue;
  color: white;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 6px;
  font-size: 0,9em;
  position: fixed;
  bottom: 0;
  margin-bottom: 1%;
}

.icon-location {
  right: auto;
}

.icon-mail {
  left: 1px;
}

form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 7px;
  padding: 10px 20px;
}

h1 {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 30px;
}

summary {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.6);
  font-size: 17px;
}

figcaption {
  color: rgb(255, 255, 255);
  background: rgba(55, 0, 255, 0.8);
  font-size: 20px;
}

.fondogaleria {
  background-color: white !important;
}

h2 {
  color: rgb(255, 0, 0);
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 50px;
}

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: no;
}

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: no;
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background: white;
  color: black;
  padding: 20px;

  &:hover {
    cursor: pointer;
  }
}

.botonInicio {
  width: 130px;
  height: 40px;
  border-style: groove;
  border-color: black;
  position: fixed;
  bottom: 0;
  right: 10px;
  font-size: 1em;
  margin-bottom: 1%;
}

* {
  margin: 0px;
  padding: 0px;
}

#header {
  margin: auto;
  width: 890px;
  font-family: roboto;
  top: 40px;
  position: absolute;
  right: 50px;
}

ul, ol {
  list-style: none;
}

.nav {
  > li {
    float: left;
    position: relative;
    right: -75%;

    a {
      background-color: black;
      color: white;
      text-decoration: none;
      padding: 10px 12px;
      display: block;
    }
  }

  li {
    a:hover {
      background-color: blue;
    }

    ul {
      display: none;
      position: absolute;
      min-width: 140px;
    }

    &:hover > ul {
      display: block;
    }

    ul li {
      position: relative;

      ul {
        right: -140px;
        top: 0px;
      }
    }
  }
}

@media print {
  input {
    &[type=submit], &[type=button], &[type=reset] {
      display: none;
    }
  }

  body {
    > header {
      display: none;
    }

    font-size: 10pt;
  }

  img {
    max-width: 200px;
  }
}

.col-1 {
  grid-column: 1;
}

.col-2 {
  grid-column: 2;
}

.row-1 {
  grid-row: 1;
}

.row-2 {
  grid-row: 2;
}

@media screen and (max-width: 350px) {
  img {
    display: none;
  }
}