<header class="album py-5 bg-light">
  <div class="row flex-nowrap justify-content-start align-items-center">
    <div class="col-4 pt-1">
      <a class="btn btn-sm btn-outline-secondary" routerLink="add">Añadir nueva categoria</a>
    </div>
    <div class="col-4 text-center justify-content-between">
      <h1>Lista de categorias</h1>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <div class="md-form">
        <input type="search" placeholder="Search text">
      </div>
      <!-- <ul *ngFor="let item of VM.Listado | filter: searchText">
        <li></li>
      </ul> -->

    </div>
  </div>
</header>
<article>
  <div class="container">
    <h2>En esta sección puede buscar sus peliculas por categorias</h2>
    <div class="col-md-6" *ngFor="let item of VM.Listado">
      <div class="bg-light p-5 rounded">
        <h4>{{item.categoria}}</h4>
        <a class="btn btn-lg btn-primary" [routerLink]="[item.id,'peliculas'] "role="button"> Consultar &raquo;</a>
      </div>
    </div>
  </div>
</article>



